<div class="bg-[#1A1A1A] h-auto min-h-[100vh] w-[100vw]">
  <div class="flex justify-center items-center bg-[#0D0D0D] h-[35vh] w-[100vw]">
    <div class="flex justify-center items-center w-[100vw]">
      <div class="flex">
        <img src="assets/images/rocket.svg" alt="" class="h-[5rem]">
        <div class="h-[5rem] my-2 mx-3 flex ">
          <p class="text-[#4EA8DE] text-[2.5rem] font-bold">go</p>
          <p class="text-[#5E60CE] text-[2.5rem] font-bold">To</p>
          <p class="text-[#5E60CE] text-[2.5rem] font-bold">Do</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="bg-[#808080] h-[9vh] w-[70vw] -m-[1.5rem] rounded-lg"></div>
  </div>
  <div class="w-[100vw] flex justify-center mt-16">
    
  </div>
  <app-todos></app-todos>

</div>